html, body {
  padding: 0;
  margin: 0;
}

table {
    background: black;
    border: none;
    border-collapse: collapse;
    table-layout: fixed;
}

td {
    overflow: hidden;
    width: 20px;
    height: 20px;
    border: 1px solid #333;
    box-sizing: border-box;
    color: inherit;
    text-indent: -100px;
    padding: 0;
    cursor: pointer !important;
}

td[data-active="1"] {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 47 47'%3E%3Cdefs%3E%3C/defs%3E%3Cg id='picture' style='pointer-events:inherit'%3E%3Cpath id='svg_2' d='M47.55904,12.51176L34.85904,-0.18824C34.65904,-0.38824 34.25904,-0.58824 33.95904,-0.58824C13.65904,-0.58824 13.25904,-0.38824 13.05904,-0.18824L0.35904,12.51176C0.15904,12.71176 -0.04096,13.11176 -0.04096,13.41176L-0.04096,33.41176C-0.04096,33.71176 0.15904,34.11176 0.35904,34.31176C1.29825,35.15686 4.75005,38.6164 5.95195,39.90468C10.59105,35.97936 13.61597,35.38957 15.88093,37.37894C18.14589,39.36832 17.70659,41.0204 17.36158,47.41176L33.95904,47.41176C34.25904,47.41176 34.65904,47.21176 34.85904,47.01176L47.55904,34.31176C47.75904,34.11176 47.95904,33.71176 47.95904,33.41176L47.95904,13.41176C47.95904,13.11176 47.75904,12.71176 47.55904,12.51176z' fill='%23ffff00' style='pointer-events:inherit'%3E%3C/path%3E%3C/g%3E%3C/svg%3E") no-repeat black;
}

body {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently not supported by any browser */
}

input[name="drawAction"] {
  position: absolute;
  left: -10000px;
}

button, label {
  border-radius: 3px;
  border-color: rgb(186, 186, 186) rgb(163, 163, 163) rgb(140, 140, 140);
  border-style: solid;
  border-width: 1px;
  padding: 1px 7px 2px;
  margin: 1px;
  background-color: rgb(239, 239, 239);
  font-size: inherit;
}

input:checked + label {
  background-color: lime;
}